@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Public Sans Light";
    src: url("../fonts/Public_Sans/PublicSans-Light.ttf");
}

@font-face {
    font-family: "Roboto Mono Light";
    src: url("../fonts/Roboto_Mono/RobotoMono-Light.ttf");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #191919;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #7593d5;
    font-family: "Open Sans Light";
}

p {
    color: #C6C6C6;
    font-family: "Public Sans Light";
    line-height: 1.3;
}

code {
    font-family: "Roboto Mono Light";
}

pre {
    color: #C6C6C6;
}

ul, ol {
    color: #C6C6C6;
    font-family: "Public Sans Light";
    margin-left: 16px;
}

a {
    color: #C6C6C6;
    font-family: "Open Sans Light";
    text-decoration: none;
}

.content-body-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}